@import "tailwindcss";

@theme {
  --color-primary: #1a1b1c;
  --color-secondary: #a0a4ab;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background: #ffffff;
  color: var(--color-primary);
}
